.card {
    width: 150px;
    height: 150px;
    background-color: rgb(145, 196, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    position: relative;
}

.cardTop {
    display: flex;
    justify-content: center;
}

.iconContainer {
    width: 5rem;
    background: white;
    border-radius: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon {
    color: red;
    font-size: 3rem;
}

.cardTitle {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
}

.totalItems {
    position: absolute;
    top: -25px;
    right: -10px;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 1000%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blueviolet;
    color: white;
    font-weight: 900;
    font-size: 15px;
}

.arrowContainer {
    position: absolute;
    left: 2.1rem;
    font-size: 2rem;
    bottom: 1.1rem;
    color: yellow;
}
